.reminderContainer {
  background-color: #ffb8b1;
  height: 100%;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 red;
}

.reminderContainer h1,
h2 {
  margin: 0;
  text-align: center;
  text-decoration: underline;
  color: #993411;
}

input {
  height: 30px;
  width: 80%;
  outline: none;
  font-size: 1.3rem;
  border: none;
  background: none;
  border-bottom: 2px solid #993411;
  color: #993411;
}
input::placeholder {
  color: #993411;
}

label {
  font-size: 1.3rem;
  width: 20%;
  font-weight: 700;
  color: #993411;
}

.reminderTextDetails,
.dateDetails,
.timeDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #993411;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.button button {
  background-color:#ffb8b1;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 1.4rem;
  font-weight: 700;
  color:#993411;
  cursor: pointer;
  box-shadow: 0 0 2px 0 red;
}

.button button:hover {
  background-color: #993411;
  color: #ffb8b1;
}

.raContainer ul {
  display: flex;
  justify-content: center;
}

.raContainer ul li {
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 700;
  color:#993411;
}
