div.asideContainer {
  display: flex;
  flex-direction: row;
  padding-top: 10vh;
}
.asideContainer {
  height: 100vh;
  width: 100%;
}

.menuBarContainer {
  width: 30%;
}
.menuBars{
   background-color: rgb(216, 233, 248);
   border-radius: 10px;
   height: 100%;
   margin: 5px;
}
.contentContainer {
  width: 70%;
}
