div.asideContainer {
  display: flex;
  flex-direction: row;
  padding-top: 10vh;
}
.asideContainer {
  height: 100vh;
  width: 100%;
}

.menuBarContainer {
  width: 30%;
}
.menuBars{
   background-color: #0d3562;
   border-radius: 10px;
   height: 100%;
   margin: 5px;
   box-shadow: 0 0 6px 0 white;
   padding-top: 5px;
}
.contentContainer {
  width: 70%;
}
