body {
  margin: 0;
  padding: 0;
}
div.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  display: block;
  width: 100vw;
  height: 10vh;
  background-color: rgb(207, 231, 252);
  position: fixed;
}
