div.detailsContact {
  background-color: #ffb8b1;
  height: 100vh;
  border-radius: 10px;
}
.table {
  margin-top: 5px;
  width: 100%;
  border-radius: 10px;
  background-color: #ffb8b1;
  box-shadow: 0 0 5px 0 red;
}

th.col {
  border-bottom: 2px dotted #993441;
  font-size: 2rem;
  color: #993441;
}

td.column {
  border-bottom: 2px dotted #993441;
  text-align: center;
  font-size: 2rem;  color: #993441;

}
tr td:hover {
  background-color: #993441;
  color: #ffb8b1;
}
