.table{
   margin-top: 5px;
   border: 2px solid black;
   width: 100%;
   border-radius: 10px;
   background-color: aliceblue;
}

th.col{
   border-bottom: 2px solid darkblue;
   font-size: 2rem;
}


td.column{
   border-bottom: 2px solid red;
   text-align: center;   font-size: 2rem;
}

tr:hover{
   background-color: rgb(230, 230, 230);
}
